.usersLogo{
    float: right
}
nav{
    float: left;
}
.usersLogo{
    float: right;
    margin:0 100px;
}
nav{
    margin-top: 15px;
    float: left;
}
.active{
    color:#000;
    background-color: salmon;
}
a{
    padding: 10px;
}
